<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Product Add</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mb-3">
                        <label for="productName">Product Name</label>
                        <div class="form-group">
                            <input type="text" id="productName" formControlName="productName" class="form-control"
                                placeholder="Product Name" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId">Category Id</label>
                        <div class="form-group">
                            <input type="number" id="categoryId" formControlName="categoryId" class="form-control"
                                placeholder="Category Id" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitsInStock">Unit Stock</label>
                        <div class="form-group">
                            <input type="number" id="unitsInStock" formControlName="unitsInStock" class="form-control"
                                placeholder="Stock" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="unitPrice">Unit Price</label>
                        <div class="form-group">
                            <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control"
                                placeholder="Price" />
                        </div>
                    </div>
                </form>

            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">
                    Add
                </button>

            </div>
        </div>


    </div>


</div>