<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Search Product</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Write something..">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
     {{filterText}} searched.
  </div>

<table *ngIf="dataLoaded!=false" class="table">
    <thead>

        <tr>

            <th>Id:</th>
            <th>Product Name:</th>
            <th>Category:</th>
            <th>Price:</th>
            <th>Price with VAT:</th>
            <th>Stock:</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
    <tr *ngFor="let product of products |filterPipe:filterText">
        <td> {{product.productId}}</td>
        <td> {{product.productName |uppercase}}</td>
        <td> {{product.categoryId}}</td>
        <td> {{product.unitPrice |currency}}</td>
        <td> {{product.unitPrice |vatAdded:10 |currency}}</td>
        <td> {{product.unitsInStock}}</td>
        <td><button (click)="addToCart(product)" type="button" class="btn btn-success">Add to Cart</button></td>
    </tr>
</tbody>
</table>