<!-- Welcome to {{title}} , My name is {{user}} , My Products are;

<ul>

  <li *ngFor="let productid of products">Product Id : {{productid.productId}}</li>
  <li *ngFor="let productname of products">Product Name : {{productname.productName}}</li>
  <li *ngFor="let categoryid of products">Category Id :{{categoryid.categoryId}}</li>
  <li *ngFor="let unitprice of products">Unit Price : {{unitprice.unitPrice}}</li>


</ul> -->

<app-navi></app-navi>
<app-category></app-category>
<app-product></app-product>


<router-outlet></router-outlet>